<div layout="row" layout-wrap layout-align="center center">
    <div flex="20" ng-repeat="activity in pageData">
        <md-content class="md-padding cardStyle">
            <md-card>
                <img ng-src="{{activity.url}}" class="md-card-image imgfixed" alt="Washed Out" ng-click="showAdvanced($event,activity)">
                <md-card-content>
                    <h4>标题</h4>
                    <span>{{activity.title | limitTo:8}}</span>
                    <br>
                    <div layout="row" layout-align="end" class="btnCon">
                       <a href="{{activity.link}}" target="_blank"><span>查看</span></a> &nbsp;&nbsp;&nbsp;<span ng-click="showConfirm($event,activity.id)">删除</span>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
<div layout="row" layout-align="center center">
    <i class="material-icons  MyIcon2" ng-click="goBefore()">&#xE314;</i>
    <p class="ip">{{pageNum}}</p>
    <i class="material-icons  MyIcon2" ng-click="goNext()">&#xE315;</i>
    <h3 class="page">共{{pageNumMax}}页</h3>
</div>

<div ng-controller="FreeBottomSheet" class="md-padding ">
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
        <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet($event)"><p class="p1">点击发布活动</p></md-button>
    </div>
    <script type="text/ng-template" id="ScFreeActivity.html">
        <md-bottom-sheet class="md-list md-has-header" style="position: fixed;bottom: 0;background-color: #eeeeee">
            <md-subheader><h3>活动发布</h3></md-subheader>
            <div layout="row">
                <div flex="70">
                    <md-input-container>
                        <label><h4>标题</h4></label>
                        <input type="text" ng-model="freeTitle">
                    </md-input-container>
                    <md-input-container>
                        <label><h4>链接</h4></label>
                        <input type="text" ng-model="freeLink">
                    </md-input-container>
                    <div layout="row" layout-align="center">
                        <md-button flex="70"  class="md-primary md-raised" ng-click="postFreeActivity()">
                            <p class="p1">发布活动</p>
                        </md-button>
                    </div>
                </div>
                <input style="display: none" id="img" type="file" onchange="test(this)" accept="image/*" /><br>
                <div flex layout="row" layout-align="center">
                    <div class="imgCon" ng-click="sub()">
                            <img id="img1" class="imgfixed2" src="images/scBg.jpg">
                    </div>
                </div>
            </div>
        </md-bottom-sheet>
    </script>
</div>
